flows (1).json
[{"id":"c8bdd7b9.23b1f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d8214292.0b78f","type":"ui_form","z":"c8bdd7b9.23b1f8","name":"","label":"","group":"aef530a2.46298","order":0,"width":0,"height":0,"options":[{"label":"Enter a input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":285,"wires":[["c25f5ba5.c52e88"]],"l":false},{"id":"c25f5ba5.c52e88","type":"function","z":"c8bdd7b9.23b1f8","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":215,"wires":[["aa105a10.2f85f8","842104e6.091bb8"]],"l":false},{"id":"842104e6.091bb8","type":"ui_text","z":"c8bdd7b9.23b1f8","group":"aef530a2.46298","order":1,"width":0,"height":0,"name":"","label":"Input","format":"{{msg.payload}}","layout":"row-spread","x":375,"y":295,"wires":[],"l":false},{"id":"aa105a10.2f85f8","type":"watson-conversation-v1","z":"c8bdd7b9.23b1f8","name":"","workspaceid":"25fa14b0-a29b-4f5f-ac36-2f011303a530","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7f49fd43-c584-4553-8feb-9d1fef0cfd8a","timeout":"","optout-learning":false,"x":455,"y":230,"wires":[["1952c136.24e0bf","268d61fe.0cd20e"]],"l":false},{"id":"1952c136.24e0bf","type":"debug","z":"c8bdd7b9.23b1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":575,"y":110,"wires":[],"l":false},{"id":"268d61fe.0cd20e","type":"function","z":"c8bdd7b9.23b1f8","name":"","func":"\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":205,"wires":[["1eca0044.59c24"]],"l":false},{"id":"1eca0044.59c24","type":"ui_text","z":"c8bdd7b9.23b1f8","group":"4e338ba1.a48524","order":2,"width":"0","height":"0","name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":760,"y":220,"wires":[],"l":false},{"id":"a16da615.1cf138","type":"inject","z":"c8bdd7b9.23b1f8","name":"","topic":"","payload":"Hello I'm your Hp help desk!!! I can help with you providing general information about stores and either booking or cancelling Laptop. what do you want to do?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":305,"wires":[["1eca0044.59c24"]],"l":false},{"id":"aef530a2.46298","type":"ui_group","z":"","name":"Query","tab":"476ed3dd.23051c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e338ba1.a48524","type":"ui_group","z":"","name":"output","tab":"476ed3dd.23051c","order":2,"disp":true,"width":"10","collapse":false},{"id":"476ed3dd.23051c","type":"ui_tab","z":"","name":"Hp Help desk","icon":"dashboard","disabled":false,"hidden":false}]